body{
   max-width: 810px;
   margin: auto;
}
.part{
   font-family: "Lato";
   font-style: normal;
   margin-bottom: 30px;
   font-weight: 700;
   color: red;
   font-size: 30px;
   text-shadow: 1px 1px 1px black;
}
.tittle{
   font-family: 'Lato';
   font-style: normal;
   font-weight: 900;
   font-size: 46px;
   color: #1E212C;
   margin-bottom: 40px;
}
img{
   height: 360px;
   width: 810px;
   border-radius: 4px;
   margin-bottom: 60px;
}
.text{
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 150%;
   color: #1E212C;
   margin-bottom: 24px;
}
.text2{
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
   margin-bottom: 48px;
}
.text3{
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   color: #1E212C;
   padding-left: 50px;
   margin-bottom: 48px;
}
.text4{
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
   margin-bottom: 24px;
}
.text5{
   height: 26px;
   padding: 24px;
   line-height: 24px;
   margin-bottom: 100px;
}
.text6{
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
   margin-bottom: 50px;
}
.part1{
   text-decoration: underline;
   text-transform: uppercase;
   font-size: 20px;
   color: green;
   padding-bottom: 10px;
}
div.forms{
   margin: 10px 0px 20px 0px;
   display: flex;
   text-align: left;
}
.width100{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   width: 100px;
   color: rgb(255, 106, 0);
   padding-right: 10%;
   background-color: #e1c7f1;
}
.width300{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   width: 300px;
   color: rgb(255, 0, 68);
   padding-right: 10%;
   background-color: #91b0ea;
}
.width500{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   width: 500px;
   color: rgb(20, 18, 178);
   background-color: #a3ea91;
}
.maxwidth100{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   width: 100px;
   max-width: 150px;
   color: rgb(255, 106, 0);
   padding-right: 10%;
   background-color: #e1c7f1;
}
.maxwidth300{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   width: 300px;
   max-width: 150px;
   color: rgb(255, 0, 68);
   padding-right: 10%;
   background-color: #91b0ea;
}
.maxwidth500{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   width: 500px;
   max-width: 150px;
   color: rgb(20, 18, 178);
   background-color: #a3ea91;
}
.minwidth100{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   width: 100px;
   min-width: 300px;
   color: rgb(255, 106, 0);
   padding-right: 10%;
   background-color: #e1c7f1;
}
.minwidth300{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   width: 300px;
   min-width: 200px;
   color: rgb(255, 0, 68);
   padding-right: 10%;
   background-color: #91b0ea;
}
.minwidth500{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   width: 500px;
   min-width: 200px;
   color: rgb(20, 18, 178);
   background-color: #a3ea91;
}
.height100{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   height: 100px;
   color: rgb(255, 106, 0);
   background-color: #e1c7f1;
   padding-right: 10%;
}
.height300{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   height: 300px;
   color: rgb(255, 0, 68);
   background-color: #91b0ea;
   padding-right: 10%;
}
.height500{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   height: 500px;
   color: rgb(20, 18, 178);
   background-color: #a3ea91;
}
.maxheight100{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   height: 100px;
   max-height: 150px;
   color: rgb(255, 106, 0);
   background-color: #e1c7f1;
   padding-right: 10%;
}
.maxheight300{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   height: 300px;
   max-height: 150px;
   color: rgb(255, 0, 68);
   background-color: #91b0ea;
   padding-right: 10%;
}
.maxheight500{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   height: 500px;
   max-height: 150px;
   color: rgb(20, 18, 178);
   background-color: #a3ea91;
}
.minheight100{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   height: 100px;
   min-height: 200px;
   color: rgb(255, 106, 0);
   background-color: #e1c7f1;
   padding-right: 10%;
}
.minheight300{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   height: 300px;
   min-height: 200px;
   color: rgb(255, 0, 68);
   background-color: #91b0ea;
   padding-right: 10%;
}
.minheight500{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   height: 500px;
   min-height: 200px;
   color: rgb(20, 18, 178);
   background-color: #a3ea91;
}
.content{
   margin: 10px 0px 20px 0px;
   display: flex;
   text-align: left;
   max-height: 100px;
   background-color: #e1c7f1;
}
.content1{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   color: rgb(255, 106, 0);
   padding-right: 10%;
   overflow: visible;
}
.content2{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   color: rgb(255, 106, 0);
   padding-right: 10%;
   overflow: hidden;
}
.content3{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   color: rgb(255, 106, 0);
   padding-right: 10%;
   overflow: scroll;
}
.content4{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   min-width: 250px;
   color: rgb(255, 106, 0);
   overflow: auto;
}
.part12{
   display: flex;
   text-align: left;
   margin: 10px 0px 20px 0px;
   text-decoration: underline;
   text-transform: uppercase;
   font-size: 20px;
   color: green;
   padding-top: 40%;
}
.set1{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   color: rgb(255, 106, 0);
   background-color: rgb(44, 178, 142);
   display: block;
}
.set12{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   color: rgb(255, 106, 0);
   background-color: rgb(44, 178, 142);
   display: block;
   padding-bottom: 10%;
}
.set2{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   color: rgb(255, 106, 0);
   background-color: rgb(186, 239, 193);
   display: inline;
}
.set3{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   color: rgb(255, 106, 0);
   background-color: rgb(52, 201, 231);
   display: inline-block;
}
.set4{
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   color: rgb(255, 106, 0);
   background-color: rgb(232, 186, 239);
   display: inline-block;
}
.set5{
   width: 400px;
   display: inline-block;
   margin-bottom: 10%;
}
.set6{
   display: none;
}
.border{
   display: flex;
   text-align: left;
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   color: rgb(255, 106, 0);
   margin-bottom: 10%;
}
.bord1{
   border: 5px solid green;
   background-color: #a3ea91;
   margin-right: 15px;
}
.bord2{
   border: 10px dotted green;
   background-color: #a3ea91;
   margin-right: 15px;
}
.bord3{
   border: 5px dashed green;
   background-color: #a3ea91;
   margin-right: 15px;
}
.bord4{
   border: 10px double green;
   background-color: #a3ea91;
   margin-right: 15px;
}
.bord5{
   border-right: 15px solid green;
   background-color: #a3ea91;
   margin-right: 15px;
}
.outline{
   display: flex;
   text-align: left;
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   color: rgb(255, 106, 0);
   padding-bottom: 10%;
}
.out1{
   outline: 2px solid green;
   background-color: #a3ea91;
   margin-right: 15px;
}
.out2{
   outline: 5px dotted green;
   background-color: #a3ea91;
   margin-right: 15px;
}
.out3{
   outline: 3px dashed green;
   background-color: #a3ea91;
   margin-right: 15px;
}
.out4{
   outline: 10px double green;
   background-color: #a3ea91;
   margin-right: 15px;
}
.out5{
   outline: none;
   background-color: #a3ea91;
}
.radius{
   display: flex;
   text-align: left;
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   color: rgb(255, 106, 0);
   margin-bottom: 10%;
   }
.rad1{
   border-radius: 20px;
   background-color: greenyellow;
   width: 200px;
   height: 200px;
   text-align: center;
   margin-right: 15px;
}
.rad2{
   border-radius: 50%;
   background-color: green;
   width: 200px;
   height: 200px;
   text-align: center;
   padding-top: 50px;
   margin-right: 15px;
}
.rad3{
   border-radius: 50% 20% / 10% 40%;
   background-color: rgb(76, 223, 47);
   width: 200px;
   height: 200px;
   text-align: center;
   padding-top: 100px;
   margin-right: 15px;
}
.rad4{
   border-radius: 60% 20% 110% 80%;
   background-color: rgb(47, 223, 159);
   width: 200px;
   height: 200px;
   text-align: center;
   padding-top: 50px;
}
.shadow{
   display: flex;
   text-align: left;
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   color: rgb(255, 106, 0);
   margin-bottom: 10%;
}
.shad1{
   background-color: #91b0ea;
   box-shadow: 10px 10px 0px 0px blue;
   margin-right: 50px;
}
.shad2{
   background-color: #91b0ea;
   box-shadow: 10px 10px 10px 10px blue;
   margin-right: 50px;
}
.shad3{
   background-color: #91b0ea;
   box-shadow: inset 0px 0px 10px blue;
   margin-right: 50px;
}
.shad4{
   background-color: #91b0ea;
   box-shadow: inset 5px 5px blue;
   margin-right: 50px;
}
.transparence{
   display: flex;
   text-align: left;
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   color: rgb(255, 106, 0);
   margin-bottom: 10%;
}
.trans1{
   background-color: #8c20cf;
   margin-right: 50px;
   opacity: 1;
}
.trans2{
   background-color: #8c20cf;
   margin-right: 50px;
   opacity: 0.7;
}
.trans3{
   background-color: #8c20cf;
   margin-right: 50px;
   opacity: 0.4;
}
.trans4{
   background-color: #8c20cf;
   margin-right: 50px;
   opacity: 0.1;
}
.visi{
   display: flex;
   text-align: left;
   font-family: "Lato";
   font-size: 18px;
   font-weight: 400;
   color: rgb(255, 106, 0);
   margin: 0% 30% 10% 0%;
}
.vis1{
   background-color: #e1c7f1;
   visibility: visible;
}
.vis2{
   background-color: #e1c7f1;
   visibility: hidden;
}
footer{
   font-family: "Lato";
   font-size: 20px;
   font-weight: 700;
   color: rgb(34, 32, 31);
}